<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDquzs7WLXqNff5jL2ibRYfT4_YQj7f_uE</string>
	<key>GCM_SENDER_ID</key>
	<string>915547575735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vovka-2401.SocialNetwork</string>
	<key>PROJECT_ID</key>
	<string>socialnetwork2-47252</string>
	<key>STORAGE_BUCKET</key>
	<string>socialnetwork2-47252.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915547575735:ios:2695644f18a5f6c7cbc432</string>
</dict>
</plist>